$xlarge: 1280px;
$large: 1024px;
$medium: 768px;
$small: 640px;

// z-index
$zAppOverlay: 1048;
$zMainNav: 1050;
$zNavMobile: 1049;
$zFooter: 1000;
$zScrollToTop: 1040;
$zResumeSideBar: 900;
$zNavBarOverlay: 1002;
$zNavBarSubMenuItem: 1003;

//colors
$gray-500: gray;
$dark: blue;
$primary: aqua;
